.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.8rem 2rem;
    background-color: #ffffff33;
}

.navbar-button {
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.navbar-input {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.home-button {
    margin-right: 2rem;
}

@media screen and (max-width: 600px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar-button {
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.2rem;
    }
    .navbar-input {
        padding: 0.3rem 0.5rem;
        width: 9rem;
    }
    .home-button {
        margin-right: 1rem;
    }
    
}